@font-face {
  src: url("./fonts/NEXT ART_Light.otf");
  font-family: "NEXT ART_Light";
}

@font-face {
  src: url("./fonts/Brushwell.ttf");
  font-family: "Brushwell";
}

@font-face {
  src: url("./fonts/Louis George Cafe.ttf");
  font-family: "LouisGeorgeCafe";
}

@font-face {
  src: url("./fonts/RedVelvet-Regular.otf");
  font-family: "RedVelvet";
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /******
  HEADER
  *******/
  /*******
  HOME
  *******/
  /********
  ABOUT
  ********/
  /*********
  PORTFOLIO
 *********/
  /*********
  BLOG
  *********/
  /*********
  VIDEO
  **********/
  /*************
  TESTIMONIALS
  *************/
  /*************
  CONTACT
  *************/
  /*************
  FOOTER
  *************/
}

.main .header {
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 111111;
}

.main .header .nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.main .header .nav .bars {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  margin-bottom: 8px;
}

.main .header .nav .bars span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 3px;
  margin: 2px 0;
  background: white;
  position: relative;
  float: right;
}

.main .header .nav .bars span:nth-child(2) {
  width: 20px;
}

.main .header .nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 0;
  position: fixed;
  padding: 0;
  background: #1b1b1b;
  width: 50%;
  height: 100vh;
  left: -100%;
  -webkit-transition: left 0.8s ease-in-out;
  transition: left 0.8s ease-in-out;
}

.main .header .nav .navbar.open {
  left: 0px;
}

.main .header .nav .navbar li {
  list-style: none;
  padding: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main .header .nav .navbar li:hover {
  background: #39262b;
}

.main .header .nav .navbar li:last-child {
  padding: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
}

.main .header .nav .navbar li i {
  font-size: 1.2em;
  margin: auto;
  width: 20px;
  color: #fff;
  cursor: pointer;
}

.main .header .nav .navbar li input {
  width: 80%;
  float: left;
  border-radius: 10px;
  border: none;
  height: 100%;
}

.main .header .nav .navbar li a {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  font-family: NEXT ART_Light;
  width: 100%;
  display: block;
}

.main .home {
  background: url("../images/home_bg.jpg") no-repeat center center/cover;
  color: #fff;
  position: relative;
  padding: 0 0 20px;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main .home .logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 100px;
}

.main .home .logo img {
  width: 50px;
  height: 50px;
}

.main .home .logo h1 {
  font-family: Brushwell;
  margin: 0;
  border-bottom: 1px solid #fff;
  padding: 0 0 8px;
}

.main .home .banner {
  text-align: center;
  width: 220px;
  margin: 0 auto 40px;
}

.main .home .banner h2 {
  font-size: 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: RedVelvet;
}

.main .home .banner h3 {
  font-size: 0.7em;
  width: 100%;
  font-family: LouisGeorgeCafe;
  line-height: 18px;
  height: 50px;
  overflow: hidden;
}

.main .home .pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.main .home .pagination span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #929191;
  margin: 0 2px;
}

.main .home .pagination span.active {
  background: #fff;
}

.main .home .social {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.main .home .social ul {
  padding: 0;
  margin: 8px;
}

.main .home .social ul li {
  list-style: none;
  padding: 8px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .home .social ul li:hover {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.main .home .social ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

.main .about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 50px 0;
}

.main .about .img {
  position: relative;
  max-width: 300px;
  max-height: 300px;
  margin: 20px auto;
}

.main .about .img img {
  width: 100%;
  height: 100%;
  display: block;
}

.main .about .aboutme {
  text-align: center;
}

.main .about .aboutme h3 {
  font-family: Brushwell;
  font-size: 2em;
}

.main .about .aboutme h4 {
  font-family: LouisGeorgeCafe;
  font-size: 0.9em;
  max-width: 520px;
  padding-bottom: 30px;
}

.main .about .aboutme a {
  text-decoration: none;
  border: 1px solid #000;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #000;
  font-family: LouisGeorgeCafe;
  font-size: 0.9em;
  margin: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.main .about .aboutme a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main .about .aboutme a:hover:before {
  -webkit-animation: changeBgColor 0.7s ease-in;
          animation: changeBgColor 0.7s ease-in;
  background: #ab9e98;
}

.main .portfolio {
  background: url("/images/portfolio-bg.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100vw;
  padding: 80px 0;
}

.main .portfolio img {
  display: none;
}

.main .portfolio h1 {
  font-family: Brushwell;
  margin: 0;
  font-size: 3rem;
}

.main .portfolio h2 {
  text-decoration: underline;
  font-family: RedVelvet;
  color: #fff;
  margin: 8px 0;
  font-size: 2rem;
}

.main .portfolio h3 {
  color: #373737;
  font-family: RedVelvet;
  font-size: 0.7em;
  letter-spacing: 1px;
  margin: 8px 0;
}

.main .portfolio a {
  border: 1px solid #000;
  color: #000;
  font-size: 0.9em;
  padding: 5px 10px;
  text-decoration: none;
  font-family: LouisGeorgeCafe;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main .blog {
  max-width: 1600px;
  width: 100%;
  margin: 50px auto;
}

.main .blog .gallery {
  position: relative;
  -ms-grid-columns: (minmax(50%, 4fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(50%, 4fr));
  -ms-grid-rows: minmax(200px, 300px);
  grid-template-rows: minmax(200px, 300px);
}

.main .blog .gallery .img-box {
  width: 100%;
  height: 100%;
}

.main .blog .gallery .img-box img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.main .blog .pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.main .blog .pagination span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ab9e98;
  margin: 10px 2px;
}

.main .blog .pagination span.active {
  background: #605454;
}

.main .videosection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
}

.main .videosection .title {
  background: url("/images/video-bg.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100vw;
  padding: 80px 0;
}

.main .videosection .title .flowers {
  display: none;
}

.main .videosection .title h1 {
  font-family: RedVelvet;
  color: #fff;
  letter-spacing: 1px;
  font-size: 2rem;
  position: relative;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.main .videosection .title p {
  color: #2b2b2b;
  font-family: RedVelvet;
  font-size: 0.7rem;
  text-align: center;
  width: 90%;
  margin-top: 20px;
}

.main .videosection .videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
  margin: 20px auto;
}

.main .videosection .videos .mainvideo {
  width: 100%;
}

.main .videosection .videos .mainvideo .mainvideo-video {
  position: relative;
  cursor: pointer;
}

.main .videosection .videos .mainvideo .mainvideo-video .video {
  width: 100%;
}

.main .videosection .videos .mainvideo .mainvideo-video .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 80px;
  max-height: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main .videosection .videos .mainvideo .mainvideo-video .playicon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main .videosection .videos .mainvideo P {
  font-family: LouisGeorgeCafe;
  font-size: 0.8rem;
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
}

.main .videosection .videos .mainvideo P::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 15px;
  height: 1px;
  background: #000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main .videosection .videos .thumbnails {
  margin: 20px auto 0;
}

.main .videosection .videos .thumbnails div {
  width: 70%;
  margin: 10px auto 50px;
}

.main .videosection .videos .thumbnails div p {
  font-family: LouisGeorgeCafe;
  font-size: 0.8rem;
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
}

.main .videosection .videos .thumbnails img {
  margin: 0 auto;
  width: 100%;
}

.main .videosection a {
  font-family: LouisGeorgeCafe;
  border: 1px solid #000;
  padding: 5px 15px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #1b1b1b;
  text-transform: uppercase;
}

.main .testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #000;
}

.main .testimonials .title {
  text-align: center;
  margin: 20px 0 100px;
}

.main .testimonials .title h1 {
  font-family: Brushwell;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 2rem;
}

.main .testimonials .title h2 {
  font-family: LouisGeorgeCafe;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: normal;
}

.main .testimonials .cards {
  margin: 40px auto 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main .testimonials .cards .card {
  border: 1px solid #000;
  text-align: center;
  position: relative;
  margin: 100px auto;
  padding: 80px 10px 20px;
}

.main .testimonials .cards .card:last-child {
  margin-bottom: 20px;
}

.main .testimonials .cards .card .img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -13%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main .testimonials .cards .card .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.main .testimonials .cards .testimonial {
  height: 100%;
}

.main .testimonials .cards .testimonial h3 {
  font-family: RedVelvet;
  font-weight: normal;
  margin-bottom: 20px;
}

.main .testimonials .cards .testimonial p {
  line-height: 25px;
  font-family: LouisGeorgeCafe;
}

.main .testimonials a {
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #000;
  padding: 5px 15px;
  font-family: LouisGeorgeCafe;
  letter-spacing: 1px;
  color: #1b1b1b;
}

.main .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: url("/images/contact_BG.png") no-repeat center;
  background-size: cover;
  margin-top: 20px;
}

.main .contact .title {
  text-align: center;
  width: 90%;
  border-bottom: 1px solid #000;
  padding: 20px 0;
}

.main .contact .title h1 {
  font-family: Brushwell;
  font-weight: normal;
  font-size: 2rem;
}

.main .contact .title h2 {
  font-family: LouisGeorgeCafe;
  text-transform: uppercase;
  font-weight: normal;
}

.main .contact .contact-form {
  width: 90%;
  margin: 20px auto;
}

.main .contact .contact-form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.main .contact .contact-form .inputs h3 {
  font-size: 0.8rem;
  font-weight: normal;
  font-family: LouisGeorgeCafe;
  line-height: 20px;
}

.main .contact .contact-form .inputs div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
}

.main .contact .contact-form .inputs div label {
  font-family: LouisGeorgeCafe;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.main .contact .contact-form .inputs div input {
  background: transparent;
  outline: none;
  border: 1px solid #373737;
  height: 25px;
  padding: 0 10px;
  font-size: 1em;
}

.main .contact .contact-form .inputs div .message {
  background: transparent;
  border: 1px solid #373737;
  padding: 10px;
  font-size: 1em;
  font-family: LouisGeorgeCafe;
}

.main .contact .contact-form .img {
  width: 60%;
  margin: 20px auto 0;
}

.main .contact .contact-form .img img {
  width: 100%;
  height: 100%;
}

.main .footer {
  background: url(/images/footer.jpg) no-repeat center;
  background-size: cover;
}

.main .footer nav {
  width: 100%;
}

.main .footer nav ul {
  width: 50%;
  margin: 0 auto;
}

.main .footer nav ul li {
  list-style: none;
  padding: 8px 0;
  text-align: center;
}

.main .footer nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: LouisGeorgeCafe;
}

.main .footer nav ul li i {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.main .footer nav ul li:hover a,
.main .footer nav ul li:hover i {
  color: white;
}

.main .footer .footer_social {
  width: 100%;
  margin: 15px 0;
}

.main .footer .footer_social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main .footer .footer_social ul li {
  list-style: none;
  padding: 0 8px;
}

.main .footer .footer_social ul li a {
  text-decoration: none;
}

.main .footer .footer_social ul li a i {
  color: #fff;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main .footer .footer_social ul li.active a i,
.main .footer .footer_social ul li:hover a i {
  opacity: 1;
}

.main .footer p {
  width: 90%;
  text-align: center;
  margin: 20px auto;
  color: #fff;
  font-family: LouisGeorgeCafe;
  font-size: 0.8rem;
  line-height: 20px;
}

.main .footer .copyright {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 8px;
  font-size: 0.8rem;
  font-family: LouisGeorgeCafe;
}

.main .footer .copyright a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main .footer .copyright a:hover {
  color: #d46a8a;
}

@-webkit-keyframes changeBgColor {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes changeBgColor {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

/*************
RESPONSIVE
*************/
@media (min-width: 530px) {
  .gallery {
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    gap: 15px;
    display: -ms-grid;
    display: grid;
    width: 100%;
  }
  .gallery .img-box {
    height: 100%;
  }
  .gallery .img-box:nth-child(4) img {
    -o-object-position: bottom;
    object-position: bottom;
  }
  .gallery .img-box:nth-child(1) {
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }
  .gallery .img-box:nth-child(2) {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .gallery .img-box:nth-child(3) {
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }
  .gallery .img-box:nth-child(4) {
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }
  .gallery .img-box:nth-child(5) {
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }
  .gallery .img-box:nth-child(6) {
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }
  .gallery .img-box:nth-child(7) {
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }
}

@media (min-width: 991px) {
  .main .header {
    margin-top: 60px;
    height: 40px;
  }
  .main .header .nav {
    height: 100%;
  }
  .main .header .nav .bars {
    display: none;
  }
  .main .header .nav .navbar {
    position: relative;
    width: 69%;
    left: 0;
    margin: auto;
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
  }
  .main .header .nav .navbar li {
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .main .header .nav .navbar li.active, .main .header .nav .navbar li:hover {
    background: transparent;
    border-bottom: 1px solid #fff;
    padding-bottom: 0;
  }
  .main .header .nav .navbar li:hover input {
    display: block;
    padding: 0 5px;
    width: 140px;
  }
  .main .header .nav .navbar li i {
    padding: 5px;
    position: absolute;
    right: 0;
    top: 4px;
  }
  .main .header .nav .navbar li input {
    height: 25px;
    margin: 0 8px 0 0;
    width: 0px;
    position: absolute;
    right: 20px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .main .header .nav .navbar li input:focus {
    display: block;
    padding: 0 5px;
    width: 140px;
  }
  .main .header .nav .navbar li:nth-last-child(2) {
    padding-top: 5px;
    width: 160px;
    overflow-x: inherit;
  }
  .main .header .nav .navbar li:nth-last-child(2):hover {
    border: none;
  }
  .main .home {
    height: 90vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .main .home .logo {
    padding-top: 0;
  }
  .main .home .logo img {
    width: 120px;
    height: 120px;
  }
  .main .home .logo h1 {
    font-size: 4.74em;
  }
  .main .home .banner {
    text-align: center;
    width: 100%;
    margin-top: 40px;
  }
  .main .home .banner h2 {
    font-size: 4.18em;
    width: 100%;
    letter-spacing: 1px;
    font-weight: normal;
  }
  .main .home .banner h3 {
    font-size: 1.17em;
    width: 49%;
    overflow: visible;
    margin: 60px auto;
    line-height: 30px;
    font-weight: normal;
  }
  .main .home .pagination {
    position: absolute;
    bottom: 50px;
  }
  .main .home .social {
    right: 20px;
  }
  .main .home .social ul li {
    padding: 15px 0;
  }
  .main .home .social ul li a i {
    font-size: 1.5rem;
  }
  .main .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 530px;
  }
  .main .about .img {
    width: 40%;
    margin-right: 40px;
  }
  .main .about .aboutme {
    text-align: left;
    width: 60%;
    border-left: 1px solid #000;
    padding: 20px;
  }
  .main .about .aboutme h3 {
    font-size: 4em;
    font-weight: normal;
    letter-spacing: 4px;
  }
  .main .about .aboutme h4 {
    font-size: 1em;
    line-height: 30px;
    font-weight: normal;
  }
  .main .portfolio {
    height: 414px;
  }
  .main .portfolio img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .main .portfolio h1 {
    font-size: 5rem;
    font-weight: normal;
    letter-spacing: 4px;
  }
  .main .portfolio h2 {
    font-size: 5rem;
    font-weight: normal;
  }
  .main .portfolio h3 {
    font-size: 2em;
    font-weight: normal;
    letter-spacing: 1px;
  }
  .main .portfolio a {
    font-size: 1.2em;
    padding: 5px 40px;
    margin-top: 50px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 30px;
  }
  .main .blog .gallery {
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 15px;
    display: -ms-grid;
    display: grid;
    width: 100%;
  }
  .main .blog .gallery .img-box:nth-child(4) img {
    -o-object-position: bottom;
    object-position: bottom;
  }
  .main .blog .gallery .img-box:nth-child(1) {
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }
  .main .blog .gallery .img-box:nth-child(2) {
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }
  .main .blog .gallery .img-box:nth-child(3) {
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }
  .main .blog .gallery .img-box:nth-child(4) {
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }
  .main .blog .gallery .img-box:nth-child(5) {
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }
  .main .blog .gallery .img-box:nth-child(6) {
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }
  .main .blog .gallery .img-box:nth-child(7) {
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }
  .main .blog .pagination {
    margin-top: 20px;
  }
  .main .videosection .title {
    height: 416px;
    padding: 0;
  }
  .main .videosection .title .flowers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .main .videosection .title h1 {
    font-size: 4rem;
    font-weight: normal;
  }
  .main .videosection .title p {
    font-size: 1.5rem;
    width: 60%;
    font-weight: normal;
    line-height: 40px;
  }
  .main .videosection .videos {
    margin: 60px auto 0;
  }
  .main .videosection .videos .mainvideo {
    width: 60%;
  }
  .main .videosection .videos .mainvideo p {
    text-align: center;
    font-size: 1rem;
    line-height: 30px;
  }
  .main .videosection .videos .thumbnails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .videosection .videos .thumbnails p {
    text-align: center;
    font-size: 1rem;
    line-height: 30px;
    margin: 0 auto;
    width: 80%;
  }
  .main .videosection .videos .thumbnails div {
    margin: 10px 20px 50px;
  }
  .main .testimonials {
    margin-bottom: 40px;
  }
  .main .testimonials .title h1 {
    font-size: 4rem;
    font-weight: normal;
  }
  .main .testimonials .title h2 {
    font-size: 2.2rem;
  }
  .main .testimonials .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: 60px;
  }
  .main .testimonials .cards .card {
    width: 330px;
    height: 410px;
    margin-bottom: 0;
    padding: 0 30px 20px;
  }
  .main .testimonials .cards .card .img {
    top: -35px;
  }
  .main .testimonials .cards .card .testimonial {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main .testimonials .cards .card .testimonial p {
    font-size: 1.2em;
    line-height: 35px;
  }
  .main .contact {
    padding-bottom: 20px;
  }
  .main .contact .title {
    width: 716px;
  }
  .main .contact .title h1 {
    font-size: 4rem;
  }
  .main .contact .title h2 {
    font-size: 2.1rem;
    letter-spacing: 2px;
  }
  .main .contact .contact-form {
    width: 716px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .main .contact .contact-form .inputs {
    padding: 20px;
    width: 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .main .contact .contact-form .inputs h3 {
    font-size: 1.1rem;
    line-height: 30px;
  }
  .main .contact .contact-form .inputs div label {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  .main .contact .contact-form .inputs div input {
    height: 40px;
  }
  .main .contact .contact-form .img {
    width: 340px;
    margin-bottom: 20px;
    height: 500px;
  }
  .main .footer {
    padding: 60px 0 20px;
  }
  .main .footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .main .footer .footer_social ul li {
    padding: 10px 15px;
  }
  .main .footer p {
    width: 540px;
  }
}
/*# sourceMappingURL=style.css.map */
